
{% for article in articles %}
    <article>
        <hgroup>
            <h2>
                <a href="{{ path('blog.show', {slug: article.uri}) }}">
                    {{ article.title }}
                </a>
            </h2>
            <p style="padding-top: 20px;">{{ article.preview }}</p>
        </hgroup>
    </article>
{% endfor %}

{% if articles|length == 0 %}
    <h1>Nothing found</h1>
{% endif %}
